.basketWrap {
  max-width: 350px;
  /* border: solid green 3px; */
}

.basket {
  /* border: orange solid 3px; */
  width: 340px;
  margin-top: 50px;
  position: sticky;
  top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.addBasketActive {
  background-color: #00cdbd;
  border: none;
  font-size: 16px;
  padding: 15px 10px;
  flex: 1;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.addBasketDisable {
  background-color: #bac3c3;
  border: none;
  font-size: 16px;
  padding: 15px 10px;
  flex: 1;
  border-radius: 5px;
  color: #8b9a9b;
  font-weight: bold;
  max-height: 50px;
}

.emptyBasket {
  height: 100px;
  /* border: solid 3px grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b8bbbb;
}

.basketItem {
  min-height: 40px;
  padding: 5px 10px;
  /* border: solid 3px grey; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b8bbbb;
  gap: 10px;
}

.itemNum {
  font-size: 16px;
  color: black;
  /* border: blue 1px solid; */
  align-content: center;
}

.itemName {
  font-size: 14px;
  color: black;
  /* border: blue 1px solid; */
  width: 55%;
  line-height: 1.2;
}

.itemPrice {
  font-size: 14px;
  color: black;
  /* border: blue 1px solid; */
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.subTotal {
  /* border: solid 1px blue; */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-size: 16px;
}

.subTotalDelivery {
  display: flex;
  flex-direction: column;
}

.trait {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}

.total {
  /* border: solid 1px blue; */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-size: 19px;
  font-weight: 500;
}

.addQty {
  border-radius: 50%;
  border: solid 1px #00cdbd;
  color: #00cdbd;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.counter {
  display: flex;
  gap: 5px;
}
