.cards {
  background-color: white;
  /* border: solid brown 2px; */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 10px;
  width: calc(50% - 10px);
  height: 180px;
}

.cards:hover {
  cursor: pointer;
  box-shadow: -1px 9px 19px 3px rgba(184, 184, 184, 0.75);
  -webkit-box-shadow: -1px 9px 19px 3px rgba(184, 184, 184, 0.75);
  -moz-box-shadow: -1px 9px 19px 3px rgba(184, 184, 184, 0.75);
}

.cardsDesc {
  display: flex;
  /* border: 1px black solid; */
  flex-direction: column;
  gap: 15px;
  flex: 0 0 calc(70% - 20px);
}

h3 {
  font-size: 18px;
  line-height: 1.2;
}

.descFormules {
  font-size: 14px;
  color: #868a8a;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pricepopular {
  display: flex;
  gap: 15px;
}

.price {
  font-size: 17px;
  color: #868a8a;
}

.popular {
  color: #ff8000;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 18px;
}

.popular > span {
  font-size: 12px;
  font-weight: 900;
}

.pictureCards {
  height: 130px;
  width: 130px;
  /*background-color: aqua;*/
}

.pictureCards img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
