.formules {
  /*border: 3px solid blue;*/
  flex: 0 0 calc(70% - 10px);
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 25px 0;
}

.displayCards {
  /* border: solid 3px green; */
  display: flex;
  gap: 20px;
  padding: 0 5px;
  max-width: 900px;
  flex-wrap: wrap;
}
